<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: 'unsafe-inline' https://cdn.jsdelivr.net http://0.0.0.0:8000 http://0.0.0.0:5001 http://165.232.139.243:8000 https://fonts.googleapis.com https://fonts.gstatic.com; script-src 'self' https://cdn.jsdelivr.net https://www.googletagmanager.com; font-src 'self' data: https://fonts.gstatic.com https://cdn.jsdelivr.net;"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/nanogallery2@3/dist/css/nanogallery2.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/nanogallery2@3/dist/jquery.nanogallery2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flexboxgrid@6.3.1/dist/flexboxgrid.min.css">
    <link rel="icon" type="image/x-icon" href="./assets/logo.ico">


    <link href="./style.css" rel="stylesheet"> 
    <title>scanpix</title>
    {% if mode == "demo" %}
      {% include "ga.html" %}
    {% endif %}

  </head>
  <body>
    <div id="main-content" class="row center-xs">
      <div class="col-xs-12 col-md-9 center-xs">
        <div class="row middle-xs between-xs" id="top-bar">
          <a href="/" class="row middle-xs" style="color: black; text-decoration: none;">
            <img src="./assets/logo.png" id="logo">
            <h1 id="jumbo-title">scanpix</h1>
          </a>
          <div class="ui button secondary icon" id="ham">
            <i class="hamburger icon" id="ham-off"></i>
            <i class="arrow left icon" id="ham-on"></i>
          </div>
        </div>
        <div class="col-xs-12 col-md-8 col-md-offset-2 center-xs" id="img-section">
          <div id="spinny">
            <div class="ui active inverted dimmer">
              <div class="ui large text loader" id="loader">Querying...</div>
            </div>
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="ui segment" id="input-block">
            <div class="row center-xs middle-xs">
              <div class="ui action input col-md-4 col-xs-10">
                <input type="text" id="search-bar" placeholder="A sleeping pug">
                <button id="search-button" class="ui icon button basic"><i class="search icon"></i></button>
              </div>
            </div>
            <div class="ui black label" id="results-meta" style="margin: 20px; display: none; font-size: 1.5rem;">
              <i class="images icon"></i>
              <span id="results-meta-text"></span>
            </div>
          </div>
          <div id="img-list"></div>  
          <div id="no-result">
            <i class="ghost icon" style="font-size: 7rem"></i>
            <p class="normal-font-light">There was no good match!</p>
            <p class="normal-font-light"><b><i class="lightbulb icon"></i>Pro tip:</b> Use a longer or a more specific query, as opposed to single words.</p>
          </div>  
        </div>
      </div>
      <div class="row col-md-3 col-xs-12 center-xs top-xs" id="sidebar">
        <div class="col-md-11 side-block">
          <p class="instruction">About</p>
          <p class="normal-font">Scanpix is a tool for semantic media search. You can search for objects, scenes or even emotions in pictures using simple text! Google Photos does a great job at this, but lacks critical features and it sucks that you have to share all your pictures with them 👀. </p>
          <p class="normal-font">Checkout how to run scanpix on your own images!</p>
          <div class="grid ui centered" id="footer">
            <a class="ui white label" href="https://github.com/thebayesianconspiracy/scanpix" target="_blank">
              <i class="github icon"></i>
              thebayesianconspiracy/scanpix
            </a>
            <a class="ui white label" href="https://github.com/thebayesianconspiracy/scanpix/issues/24" target="_blank">
              <i class="cloud icon"></i>
              We want Hosted Version!
            </a>
          </div>
        </div>
        <div class="col-md-11  side-block">
          <p class="instruction">Try these Prompts</p>
          <div id="prompts" class="row middle-xs"></div>
        </div>
        <div class="col-md-11 side-block">
          <p class="instruction">Status</p>
          <p class="normal-font"><i class="inverted eye icon"></i> <code>{{ loc }}</code></p>
          
          <div class="ui inverted toggle checkbox" style="margin-bottom: 2rem;">
            {% if mode == "demo" %}
              <input type="checkbox" name="status"  disabled="disabled">
            {% else %}
              <input type="checkbox" name="status">
            {% endif %}
            <label id="indexer-toggle" class="normal-font">Indexer status</label>
          </div>

          <div class="ui inverted indicating progress standard normal-font" id="indexer-progress">
            <div class="bar"> <div class="progress"></div></div>
            <div class="label normal-font" id="indexer-status-label"> Loading </div>
          </div>
        </div>
        <div class="col-md-11  side-block">
          <p class="instruction">Attribution</p>
          <p class="normal-font">Test images sourced from <a href="https://cocodataset.org/#download">COCO Val2017</a>, 
            <a href="https://yingqianwang.github.io/Flickr1024/">Flickr1024</a>, and a beautiful pug named Kiwi.
          </p>
          <p class="normal-font" style="text-align: center;">Made with <i class="heart icon red"></i> by The Bayesian Conspiracy</p>
        </div>
      </div>
    </div>
    
    <script src="./renderer.js"></script>
  </body>
</html>
