body{
    font-family: 'Lato';
}

#main-content{
    text-align: center;
    min-height: 100%;
}

#jumbo-title{
    font-weight: 900;
    font-size: 100px;
}

img{
    width: auto;
    height: 100% !important;
}

.image{
    height: 80%
}

#img-list{
    margin: 100px;
    padding: 20px;
}

#footer{
    position: absolute;
    bottom: 20px;
    width: 100%;
}