body{
    font-family: 'Lato';
}

#main-content{
    text-align: center;
    min-height: 90%;
    /* position: relative; */
}

#jumbo-title{
    font-weight: 900;
    font-size: 100px;
}

img{
    width: auto;
    height: 100% !important;
}

.image{
    height: 80%
}

#img-list{
    padding: 20px;
}

#footer{
    /* position: absolute; */
    /* bottom: 20px; */
    width: 100%;
    z-index: 999;
    margin: 20px 0px 20px 0px;
}

.nGY2Gallery{
    width: 100%;
}

.nGY2GThumbnailImageTitle{
    padding: 5px 10px 5px 10px !important;
    background: rgba(50, 50, 50, 0.8) !important;
    border-radius: 5px;
    text-shadow: none !important;
}

.prompts, .instruction{
    margin: 30px 15px 30px 15px!important;
}

#prompts{
    background-color: #eee;
    margin: 30px;
    border-radius: 10px;
}
