html {
    font-size: 16px;
}
 

body{
    font-family: 'Lato';
}

#main-content{
    text-align: center;
    min-height: 100vh;
}

#search-bar{
    font-size: 1rem;
}

#search-button{
    font-size: 1rem;
    color: #fff;
    background: #212529;

}

#jumbo-title{
    font-weight: 900;
    font-size: 2rem;
    margin: 0px !important;
}

#logo{
    height: 3rem !important;
    margin-right: 0.5rem;
}

img{
    width: auto;
    height: 100% !important;
}

.image{
    height: 80%
}

#img-list{
    padding: 20px;
}

.nGY2Gallery{
    width: 100%;
}

.nGY2GThumbnailImageTitle{
    padding: 5px 10px 5px 10px !important;
    background: rgba(50, 50, 50, 0.8) !important;
    border-radius: 5px;
    text-shadow: none !important;
}

@media (max-width: 64em) {
    #sidebar{
        background: #212529;
        text-align: left;
        position: absolute;
        top: 5rem;
        z-index: 999;
        display: none;
    }
    #ham{
        display: block;
    }
}
@media (min-width: 64em) {
    #sidebar{
        background: #212529;
        text-align: left;
    }
    #ham{
        display: none;
    }
}
 


.label{
    font-size: 0.7rem!important;
    margin: 0.5rem 0.1rem 0.5rem 0.1rem !important;
}

#top-bar{
    padding: 1rem 2rem 1rem 2rem;
    border-bottom: #eee 1px solid;
    margin-bottom: 2rem;
}

.instruction{
    font-size: 1.5rem !important;
    color: #eee;
    margin-top: 1rem !important;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.top-xs{
    align-content: start !important;
}

.side-block{
    padding: 1rem;
    border-bottom: 1px solid #333;
}

.normal-font{
    font-size: 1rem !important;
    color: #fff !important;
}

code{
    background-color: #2a3b4d; 
    border-radius: 2px;
    padding: 1px;
}

#indexer-toggle{
    padding-left: 4rem;
}

#indexer-toggle::before{
    width: 3.5rem;
    height: 1.5rem;
}


#indexer-toggle::after{
    width: 1.5rem;
    height: 1.5rem;
}

.prompts{
    margin-bottom: 0.5rem !important;
}

.ui.button{
    padding: 0.5rem !important;
    font-size: 1rem !important;
}


.feedback, #thanks{
    margin: 0.5rem;
}